.comments-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .comments-header > h1 {
    font-weight: 500;
  }
  
  .comments > * + * {
    margin-top: 20px;
  }
  
  .comment {
    padding: 20px 40px;
    background-color: rgb(17, 48, 80);
    border-radius: 5px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
  }
  
  .comment__header {
    display: flex;
    align-items: center;
  }
  
  .comment__heading {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(213, 235, 255);
  }
  
  .comment_timestamp {
    font-size: 0.9rem;
    color: rgb(73, 116, 156);
  }
  
  .comment__body {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.9;
  }
  .comment__textarea {
    grid-area: textarea;
  
    background-color: #0e2740;
    color: white;
    border: none;
    border-radius: 2px;
    min-width: 100%;
    max-width: 100%;
    max-height: 30em;
    padding: 10px 15px;
    resize: none;
  
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.9;
    border-radius: 48px;
  }
  .comment__row {
    display: table;
    width: 100%;
  }
  .comment__icon_div {
    display: table-cell;
    width: 10%;
  }
.comment__text_div{
  display: table-cell;
  width: 80%;
}
.add_reply_button {
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.05rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    left:3%;
}
.save_reply_button {
    padding: 5px 10px;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.05rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    background-color: blue;
    color:white;
    position: relative;
    left:80%;
}
.comment__dropdown {
  grid-area: select;
}

.comment__dropdown > * + * {
  margin-left: 10px;
}
